
*,
::before,
::after {
  box-sizing: border-box;
  outline: 0px black solid;
}
div {
  display: block;
}
html {
    font-family: "微軟正黑體", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation; /*禁止點兩下放大*/
    background-color: rgb(228, 228, 228);
  }
  body {
    letter-spacing: normal;
    /* 禁止選取文本 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* 支援大部分瀏覽器 */
  }